* {
    margin: 0;
    padding: 0;
}

#text {
    font-size: 23px;
}



.folder-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.folder:hover {
    background-color: #f5f5f5;


}

.folder .title {
    font-weight: bold;

}

.folder .details {
    display: none;
    margin-top: 10px;
}